[Desktop Entry]
Type=Application
Name=Discord REC
Comment=Enregistrement automatique des sessions vocales Discord
Exec=@PREFIX@/src-tauri/target/release/discord-rec
Icon=@PREFIX@/src-tauri/icons/128x128.png
Terminal=false
Categories=AudioVideo;Recorder;
X-GNOME-Autostart-enabled=true
